:root {
    /* dark */
    --d-background-color: #000;
    --d-border-color: white;
    --d-color: #000;


    /* white */
    --w-background-color: #fff;
    --w-border-color: red;
    --w-color: #fff;

}

.t-dark {
    background-color: var(--d-background-color);
}
.t-white {
    background-color: var(--w-background-color);
}
.container{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 800px;
    width: 100%;
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 400px;
    height: 560px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* .t-dark .box {
    border: 1px solid var(--d-border-color);
} */
/* .t-white .box {
    border: 1px solid var(--w-border-color);
} */
.ingener{
    width: 400px;
    height: 560px;
    /* border: 1px solid white; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}
.hide{
    display: none;
}
.show{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.text{
    width: 90%;
    /* border: 1px solid white; */
    border-radius: 20px;
    background-color: rgb(31, 29, 29);
    height: 100px;
    color: white;
    font-size: xxx-large;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*overflow: auto;*/
    padding: 5px 15px;
}
.t-dark .text{
    background-color: rgb(31, 29, 29)
}
.t-white .text{
    background-color: lightgray
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(31, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    color: white;
    cursor: pointer;
    font-size: x-large;
}
.t-dark .circle{
    background-color: rgb(31, 29, 29)
}
.t-white .circle{
    background-color: lightgray
}

#zero-item{
    width: 180px;
    border-radius: 40px;
}
.t-dark #zero-item{
    background-color: tomato;
}
.t-white #zero-item{
    background-color: lightgray;
}
.t-dark .not-number,
.t-white .not-number{
    background-color: orange;
}


.switch{
    position: relative;
    top: 33%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.switch-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid white; */
}
input[type="checkbox"]{
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    cursor: pointer;
}
input:checked[type="checkbox"]{
    background: #40e551;
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 1;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}
input:checked[type="checkbox"]::before{
    left: 45px;
}
.night-box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid white; */
}
.night{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: black;
}
.night div{
    margin-top: 10px;
}
.t-dark .night {
    /* border: 1px solid var(--d-border-color); */
    color: var(--d-color);
}
.t-white .night {
    color: var(--w-color);
    background-color: var(--d-background-color);
}
.row {
    display: flex;
    justify-content: space-between;
}
.display__inner{
    width: 100%;
}
.display__expression{
    font-size: xx-large;
}
.right{
   display: flex;
   justify-content: flex-end;
}
.display__expression{
    overflow: hidden;
    text-align: left;
}