body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}
header{
    position: fixed;
    height: 44px;
    background-color: #000;
    color: white;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 40px;
}
.box-container{
    border: 0.5px solid white;
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
}
header .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}
header .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .links li{
    list-style: none;
}
header .links a{
    display: block;
    padding: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .1);
    text-decoration: none;
    color: white;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
.line-box{
    cursor: pointer;
}
header .icon-burger{
    display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}
header .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
@media screen and (max-width:970px){
    header{
        height: 30px;
    }
    header .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    header .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 30px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .9s ease-in-out;
    }
    header .links a{
        font-size: 20px;
    }
    header .icon-burger{
        display: block;
    }
    header :checked ~ .links{
        bottom: 0;
    }
    header :checked~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg) ;
    }
    header :checked~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    header :checked~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }
}
/*-----------------items----------------*/
img{
    width: 250px;
    border-radius: 5px;
    display: flex;
}
.img-box{
    width: 1250px;
    display: flex;
    flex-wrap: non-wrap;
    text-align: center;
    margin: 2px;
}
.box-filter{
    border: 0.5px solid white;
    border-left: unset;
    border-bottom: unset;
    border-top: unset;
    margin: 11px;
}
.box-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.img1{
    width: 270px;
    height: 340px;
    margin-left: 40px;
    margin-top: 5px;
}
#add-button{
    width: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    outline: none;  
}
#add-button:active{
    background-color: #77f218;
}
@media screen and (max-width: 1226px){
#itemsBox div{
 width: 450px;
 display: flex;
 align-items: center;
 justify-content: center;
}
}
@media screen and (max-width: 1216px){
    #itemsBox div{
        width: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1130px){
    .only-img{
        width: 100%;
    }
    .box-filter{
        display: none;
    }
    #itemsBox div{
        width: 100%;
        height: 350px;
    }
    .box-container{
        width: 420px;
    }
    .container-smaller-box-filter{
        display: block;
    }
}
@media screen and (max-width: 415){
    
}
@media screen and (max-width: 400px){
    #itemsBox div{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .container-smaller-box-filter{
       width: 430px;
    }
    footer{
        width: 450px;
    }
    .only-img{
        display: flex;
        justify-content: center;
    }
    
}
/*------- CART PAGE --------- */
#box{
    background-color: brown;
    width: 600px;
    max-width: 80%;
    border-radius: 5px;
    border: 3px solid white;
    position: absolute; 
    display: block;
}
#box{
   background-color: white;
}
.box-button{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: black;
    color: white;
}
.button-basket{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-weight: 900;
    font-size: 17px;
}
.button-basket:hover{
    color: red;
}
.clear-button{
    width: 85px;
    height: 20px;
}
.box-button-clear{
display: flex;
justify-content: flex-end;
padding: 10px;
}
.propusk{
    height: 25px;
}
#search{
    border: none;
    outline: none;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 h3.hide{
    display: none;
}
.box-filter{
    /* position: fixed; */
    height: 700px;
    min-width: 250px;
    max-width: 250px;
    background-color: black;
    color: white;
    list-style: none;
}
@media screen and (max-width:590px){
    .box-filter{
        display: none;
    }
    .only-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*--------------pagination-------------*/
#pagination{
display: flex;
justify-content: center;
}
#pagination li{
    border: 1px solid white;
    color: white;
    width: 25px;
    height: 25px;
    list-style-type: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagination li:hover,
#pagination li.active{
    background-color: #77f218;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}
.tr-box{
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
    background-color: black;
    width: 300px;
    height: 330px;
    transition: box-shadow 1s;
}
.tr-box:hover{
    box-shadow: 0px 0px 15px 2px #77f218;
}
#itemsBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.img-js{
width: 250px;
height: 195px;
display: flex;
margin-left: 25px;
}
.prev-button-pag,
.next-button-pag{
    width: 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
}
.prev-button-pag:active,
.next-button-pag:active{
background-color: #77f218;
}
/*----------slider---------------*/
.slider{
    min-width: 100px;
    max-height: 500px;
    margin: 20px auto;
    max-width: 80%;
    overflow: hidden;
}
.slider-line{
    display: flex;
    transition: all ease 1s;
}
img{
    width: 100%;
    /* height: 300px;
    width: 1000px; */
}
/*---------------footer--------------*/
footer{
    border: 0.5px solid white;
    margin: 5px;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
}
.footer-box{
    width: 100%;
    height: 175px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 15px;
    border: 0.5px solid white;
    text-decoration: none;
}
.social-icons{
    display: flex;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 0px 0px 25px 5px #77f218;
    transition: all ease 0.05s;
    
}
.copyright{
    margin-left: 0;
    color: white;
}
/*--------sorting--------------*/
#price button,
#smaller-box-filter button{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 0.5px solid white;
}
#price button:hover,
#smaller-box-filter button:hover{
    box-shadow: 0px 0px 10px 5px #77f218;
}
button{
    margin: 8px;
}
.box-available{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-button{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 0.5px solid white;
}
.show-button:hover{
    box-shadow: 0px 0px 10px 5px #77f218;
}
input[type="radio"]{
    cursor: pointer;
}
.container-smaller-box-filter{
    display: flex;
    justify-content: center;
}
#smaller-box-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 730px;
    height: 120px;
    border: 1px solid white;
    color: white;
    margin: 25px;
}
.h2-smaller{
   margin: 15px;
   color: white;
   margin-left: 50%;
}
@media screen and (max-width: 626px){
    #smaller-box-filter{
        height: 150px;
    }
}
@media screen and (max-width: 460px){
    #smaller-box-filter{
        height: 200px;
    }
}