fieldset{
    border: 2px solid gray;
    padding: 20px;
}
.form03{
    border: 2px solid gray;
    padding: 20px;
}
.div2{
    padding-top: 15px;
}
.div3{
    padding-top: 15px
}
.butt{
    margin-top: 20px;
}