table{
    width: 100%;
    border: 4px solid black;
    background: linear-gradient(90deg, #6e0000, antiquewhite);
    align-items: center;
    border-collapse: collapse;
    justify-content: center;   
    padding: 10px;
}
thead{
    color: #ffe369;
    font-weight: bold;
    padding: 10px;
    border: 2px;
    border-color: - rgba(189, 195, 199, 0.05);
    background-color: rgba(110, 0, 0, 0.4);
}
.row00{
    color: white;  
}
.row00:nth-child(2n){
    background-color: rgba(143, 148, 251, 0.1);
}
.true{
    background-color: antiquewhite;
    color: midnightblue;
}
.false{
    background-color: darkred;
    color: white;
}
th{
    border: 2px solid rgba(189, 195, 199, 0.05);
    color: - rgba(189, 195, 199, 0.05);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
td{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    color: white;
    font-weight: bold;
    padding: 10px;

}
